<section class="hero is-medium is-info is-bold">
  <div class="alert alert-secondary">
    <div class="container">
      <h1 class="title is-1">
        Push Desktop App
      </h1>
      <!--<h2 class="title">
        Author: <span class="is-medium has-underline">{{authorpush}}</span><br>
        Message: <span class="is-medium has-underline">{{messagepush}}</span><br>
      </h2>-->

      <br>
      <h2 class="title">Received notifications:</h2>
      <table class="table">
        <thead>
        <tr>
          <th>Author</th>
          <th>Message</th>
        </tr>
        </thead>
        <tbody>
         <tr *ngFor="let notify of notifications">
          <td>{{ notify.author }}</td>
          <td>{{ notify.message }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<br>
<div class="container">
  <h1 class="title">Send Message to push</h1>
  <form #coinForm="ngForm">
    <div class="field">
      <label class="label">Message</label>
      <p class="control">
        <input
          [(ngModel)]="messagepush"
          class="input"
          type="text"
          name="sendingAmount"
          required
          #sendingAmountModel="ngModel">
      </p>
      <div *ngIf="sendingAmountModel.errors && (sendingAmountModel.dirty || sendingAmountModel.touched)"
           class="help is-danger">
        <p [hidden]="!sendingAmountModel.errors.required">
          This field is required
        </p>
      </div>
    </div>
    <div class="field">
      <label class="label">Author</label>
      <p class="control">
        <input
          [(ngModel)]="authorpush"
          name="senderAddress"
          class="input"
          type="text"
          required
          #recipientAddressModel="ngModel"
        >
      </p>
    </div>

    <div class="field is-grouped">
      <p class="control">
        <button
          (click)="sendMsg()"
          class="btn btn-primary">
          Send
        </button>
        <button
          (click)="playPingPong()"
          class="btn btn-primary">
          Refresh
        </button>
      </p>
    </div>
  </form>

  <strong>Hint:</strong> open the browser developer console to view any errors and warnings.

</div>
